<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>webpack多入口解决方案</title>
</head>
<body>

	<div class="wrapper">
		<div class="content">
			<h1>webpack多入口解决方案</h1>
			<p class="indent">webpack是为模块而生，大多的webpack教程都是说 react+webpack。撇开webpack无数优点不说，仅react崇尚的是组件化，这一点，就和webpack志同道合。所以说react和webpack更配喔！</p>
			<p class="indent">但并不是所有项目场景都需要react。也不是所有项目都适合单页应用(单一入口)。于是有了这篇文章，针对多页面、多入口的webpack解决方案。代码请见 <a href="#" target="_blank">Github</a></p>
			<p>DEMO：</p>
			<p id="text">
				1.下面这段文字来自 /src/js/page/index.js<br />
				<span class="notice"></span>
			</p>
			<p>2.我来展示一下按需加载！ <a href="javascript:;" class="button">点我</a></p>
			<div id="spotlight"></div>
		</div>
	</div>

</body>
</html>
