<!-- start spotlightWrapper div -->
<div class='spotlightWrapper'>
	<!-- start unordered list -->
	<ul>
		<li>
			<a href="#"><img src='images/1.jpg' /></a>
		</li>
		<li>
			<a href="#"><img src='images/2.jpg' /></a>
		</li>
		<li>
			<a href="#"><img src='images/3.png' /></a>
		</li>
		<li>
			<a href="#"><img src='images/4.jpg' /></a>
		</li>
		<li>
			<a href="#"><img src='images/5.jpg' /></a>
		</li>
		<li>
			<a href="#"><img src='images/6.png' /></a>
		</li>
		<li>
			<a href="#"><img src='images/7.jpg' /></a>
		</li>
		<li>
			<a href="#"><img src='images/9.png' /></a>
		</li>
		<li>
			<a href="#"><img src='images/10.jpg' /></a>
		</li>
		<li>
			<a href="#"><img src='images/11.png' /></a>
		</li>
		<li>
			<a href="#"><img src='images/12.png' /></a>
		</li>
		<li>
			<a href="#"><img src='images/13.jpg' /></a>
		</li>
		<li>
			<a href="#"><img src='images/14.png' /></a>
		</li>
		<li>
			<a href="#"><img src='images/15.jpg' /></a>
		</li>
		<li>
			<a href="#"><img src='images/16.jpg' /></a>
		</li>
		<div class='clear'></div>
	</ul>
	<!-- end unordered list -->
</div>
<!-- end spolightWrapper div -->
